###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
JD_Assignment/.vs/JD_Assignment/FileContentIndex/1e98e052-d5b4-404a-9de8-c8eef78e515a.vsidx
JD_Assignment/.vs/JD_Assignment/FileContentIndex/28083c2e-0d62-4c1e-9e2f-5dae16646d9a.vsidx
JD_Assignment/.vs/JD_Assignment/FileContentIndex/4ad634be-3b57-4bde-80ef-4ff54b257c77.vsidx
JD_Assignment/.vs/JD_Assignment/FileContentIndex/630066bc-931c-4ac0-bd3f-c0984fb907eb.vsidx
JD_Assignment/.vs/JD_Assignment/FileContentIndex/781c7dd8-37e2-42f9-b43b-7392e23134b1.vsidx
JD_Assignment/.vs/JD_Assignment/FileContentIndex/f3d68e5a-3893-4c4e-a2ee-66b65e65d000.vsidx
*.vsidx
